.contacts {
  background-image: linear-gradient(35deg, $colorGradientDark 0%, $colorGradientLight 100%);

  &__box {
    margin-block-end: 10rem;
  }

  &__wrapper {
    text-align: center;

    & > a {
      display: block;
      margin-block-end: 3rem;
      color: $colorWhite;
      font-size: 2.4rem;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-block: 2rem;

    & > a > img{
      inline-size: 4rem;
    }
  }
}