/* ==========================================================================
========================       MEDIA 1366px      ============================
===========================================================================*/

@media (max-width: 85.375em) {
  
}

/* ==========================================================================
========================       MEDIA 1200px      ============================
===========================================================================*/

@media (max-width:  75em) {
  .about {
    &__image {

      img {
        inline-size: 100%;
      }
    }
  }
}


/* ==========================================================================
========================       MEDIA 1150px      ============================
===========================================================================*/

@media (max-width: 71.875em) {
  .top-bar {
    justify-content: flex-end;
  }

  .header {
    &__contact {
      order: -1;
      inline-size: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

/* ==========================================================================
========================       MEDIA 1100px      ============================
===========================================================================*/

@media (max-width: 68.75em) {
  .about {
    &__wrapper {
      flex-direction: column;
    }
  }

  .experience__item:nth-child(even),
  .experience__item:nth-child(odd) {

    & .experience__description {
      order: 1;
      border-right: none;
      border-left: 5px solid $colorGreen;
      text-align: left;
      margin-inline-start: -.5rem;
      inline-size: auto;
  
      &-wrapper {
        &::before {
          left: -5rem;
        }
  
        &::after {
          left: -5.8rem;
        }
      }
  
      &-list {
        & > li {
          padding-inline-end: 0;
          padding-inline-start: 2rem;
  
          &::after {
            left: 0;
          }
        }
      }
    }
  
    & .experience__year {
      text-align: right;
      inline-size: auto;
    }
  }
}


/* ==========================================================================
========================       MEDIA 1000px      ============================
===========================================================================*/

@media (max-width: 1000px) {

}

/* ==========================================================================
=========================       MEDIA 940px      ============================
===========================================================================*/

@media (max-width: 940px) {

}

/* ==========================================================================
=========================       MEDIA 900px      ============================
===========================================================================*/

@media (max-width: 56.25em) {
  .menu__list {
    gap: 1.5rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  .hero {
    &__content {
      max-inline-size: 47rem;
    }

    &__title {
      font-size: 3.6rem;
      letter-spacing: .6rem;
    }
    &__subtitle {
      margin-inline-end: .5rem;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 850px      ============================
===========================================================================*/

@media (max-width: 53.125em) {
  .skills {
    &__items {
      &.languages {
        justify-content: center;
      }
    }

    &__item {
      max-inline-size: 8rem;

      &-name {
        font-size: .8rem;
      }
    }
  }

  .slider.show-detail .slider__item:nth-child(2) .slider__image-item {
    top: 40%;
    right: 31%;
  }

  .slider.show-detail .slider__item:nth-child(2) .slider__detail {
    inline-size: 100%;
    top: 40%;
    background-color: rgba($colorBlack, .85);
    border-radius: 1rem;
    padding: 3rem;

  }

  .slider {
    block-size: 50vh;
  }

  .slider__arrows {
    max-inline-size: 40rem;
  }

  .slider__intro {
    top: -20%;
    left: 137%;
  }

  .slider__arrows-prev, .slider__arrows-next {
    padding: 1.3em;
  }
}

/* ==========================================================================
=========================       MEDIA 820px      ============================
===========================================================================*/

@media (max-width: 51.25em) {
  .title {
    font-size: 3.6rem;
  }

  .title-background {
    font-size: 6.6rem;
  }
}

/* ==========================================================================
=========================       MEDIA 768px      ============================
===========================================================================*/

@media (max-width: 48em) {
  .burger-menu-btn {
    display: flex;
  }

  .menu {
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-image: linear-gradient(45deg, $colorGradientDarkSecondary, $colorGradientLightSecondary);
      inline-size: 100%;
      block-size: 100%;
      font-size: 0;
      left: 0;
      top: 0;
      z-index: 10;
      transform: translateY(-100%);
      transition: all .5s ease-out;
      transform-origin: right;
    }
  }

  .header.menu--open .menu__list {
    transform: translateY(0);
    inline-size: 100%;
    block-size: 100%;
    font-size: 1.8rem;
  }

  .education {
    &__items {
      img {
        inline-size: 100%;
        block-size: auto;
      }
    }

    &__item {
      max-inline-size: 100%;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 640px      ============================
===========================================================================*/

@media (max-width: 40em) {
  .experience {
    &__description {
      padding: 2.5rem 0 2.5rem;

      &-wrapper {
        padding: 2rem;
        border-radius: 0;

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }

    &__year {
      font-size: 2rem;
      padding: 0;
      transform: rotate(90deg);
    }
  }

  .experience__item:nth-child(even),
  .experience__item:nth-child(odd) {

    & .experience__description {
      border-left: 0;
    }
  }

  .slider__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .slider__intro {
    top: -10%;
  }
}

/* ==========================================================================
=========================       MEDIA 590px      ============================
===========================================================================*/

@media (max-width: 36.875em) {
  .about,
  .skills,
  .experience,
  .works,
  .education,
  .contacts {
    padding-block: 10rem;
  }

  .title {
    font-size: 3rem;
  }

  .title-background {
    font-size: 2.4rem;
  }

  .slider.show-detail .slider__item:nth-child(2) .slider__image-item {
    top: 45%;
    right: 0;
    inline-size: 100%;
  }

  .slider.show-detail .slider__item:nth-child(2) .slider__detail {
    inline-size: 100%;
    top: 45%;
  }
}

/* ==========================================================================
=========================       MEDIA 500px      ============================
===========================================================================*/

@media (max-width: 31.25em) {
  .hero {
    &__content {
      text-align: center;
    }

    &__subtitle {
      margin-inline-end: 0;
      text-align: center;
      font-size: 1.4rem;
    }
  }

  .header__contact {
    justify-content: center;
  }

  .top-bar {
    gap: 2rem 10rem;
  }

  .slider__intro {
    top: -20%;
  }

  .slider__name {
    font-size: 2rem;
  }

  .slider__go {
    padding: 1rem 2rem;
  }

  .works {
    padding-block-end: 5rem;
  }
}

/* ==========================================================================
=========================       MEDIA 480px      ============================
===========================================================================*/

@media (max-width: 30em) {
  .skills {
    &__items {
      gap: 1.5rem 3rem;
    }
  }
}

/* ==========================================================================
=========================       MEDIA 410px      ============================
===========================================================================*/

@media (max-width: 25.625em) {
  .contacts {
    &__wrapper {
      & > a {
        font-size: 2rem;
      }
    }

    &__social {
      gap: 1.5rem;
    }
  }

  .slider__about {
    line-height: 1.5;
  }

  .slider.show-detail .slider__item:nth-child(2) .slider__detail {
    top: 40%;
  }

  .slider.show-detail .slider__item:nth-child(2) .slider__image-item {
    top: 45%;
    right: 0;
    inline-size: 100%;
  }

  .slider__name  {
    font-size: 2rem;
  }
}

/* ==========================================================================
=========================       MEDIA 360px      ============================
===========================================================================*/

@media (max-width: 22.5em) {
  .experience {
    &__year {
      display: none;
    }
  }

  .contacts {
    &__social {
      & > a {
        & > img {
          inline-size: 3.5rem;
        }
      }
    }

    &__wrapper {
      & > a {
        font-size: 1.6rem;
      }
    }
  }
}

/* ==========================================================================
=========================       MEDIA 320px      ============================
===========================================================================*/

@media (max-width: 320px) {

}