.works {
  background-image: linear-gradient(45deg, $colorGradientDarkSecondary 0%, $colorGradientLightSecondary 100%);

  &__box {
    margin-block-end: 10rem;
  }

  &__wrapper {
    block-size: 100vh;
    inline-size: 100%;
    overflow: hidden;
  }
}

.slider {
  block-size: 80vh;
  position: relative;

  &::before {
    content: "";
    inline-size: 50rem;
    block-size: 30rem;
    background-image: linear-gradient(45deg, $colorGreen, $colorDarkGreen);
    position: absolute;
    z-index: 0;
    border-radius: 20% 30% 80% 10%;
    filter: blur(15rem);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
  }

  &__items {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-inline-size: 120rem;
    inline-size: 90%;
    block-size: 80%;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 70%;
    block-size: 100%;
    // detail transition
    transition: left .5s, opacity .5s, width 0.5s;

    // positioned slider item

    &:nth-child(2) {
      transform: $sliderItemTransform2;
      filter: $sliderItemFilter2;
      z-index: $sliderItemzIndex2;
      opacity: $sliderItemzOpacity2;

      & .slider__intro {
        opacity: 1;
        pointer-events: auto;
        transition: opacity .5s;
      }

      & .slider__title,
      & .slider__open {
        opacity: 0;
        animation: showContent .5s .7s ease-in-out 1 forwards;
      }

      & .slider__open {
        animation-delay: 1.3s;
      }
    }

    &:nth-child(1) {
      transform: $sliderItemTransform1;
      filter: $sliderItemFilter1;
      z-index: $sliderItemzIndex1;
      opacity: $sliderItemzOpacity1;
      pointer-events: none;
    }

    &:nth-child(3) {
      transform: $sliderItemTransform3;
      filter: $sliderItemFilter3;
      z-index: $sliderItemzIndex3;
      opacity: $sliderItemzOpacity3;
    }

    &:nth-child(4) {
      transform: $sliderItemTransform4;
      filter: $sliderItemFilter4;
      z-index: $sliderItemzIndex4;
      opacity: $sliderItemzOpacity4;
    }

    &:nth-child(5) {
      transform: $sliderItemTransform5;
      filter: $sliderItemFilter5;
      z-index: $sliderItemzIndex5;
      opacity: $sliderItemzOpacity5;
    }

    &:nth-child(n + 6) {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__image {
    img {
      inline-size: 100%;
    }

    &-item {
      inline-size: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: right .5s;
      align-items: center;
    }
  }

  &__detail {
    opacity: 0;
    pointer-events: none;
    padding-inline-start: 1rem;
  }

  &__about {
    margin-block-end: 4rem;
    color: rgba($colorWhite, .7);
    line-height: 2;
  }

  &__intro {
    position: absolute;
    top: -15%;
    transform: translateX(-50%);
    left: 125%;
    width: 24rem;
    opacity: 0;
    pointer-events: none;
  }

  &__name {
    font-size: 3rem;
    font-weight: 700;
    color: $colorWhite;
    text-transform: uppercase;
    margin-block-end: 2rem;
    display: inline-block;
    border-bottom: .3rem solid $colorGreen;
  }

  &__arrows {
    position: absolute; 
    bottom: 1rem; 
    max-inline-size: 114rem; 
    width: 90%; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-prev,
    &-next {
      border-radius: 50%;
      border: 1px solid $colorGreen;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      transition: all .3s ease-in;

      &:hover {
        background-color: $colorGreen;
      }
    }

    &-back {
      color: $colorGreen;
      font-weight: 500;
      border: none;
      border-bottom: .1rem solid $colorGreen;
      letter-spacing: .3rem;
      text-transform: uppercase;
      background-color: transparent;
      opacity: 0;
      line-height: 2;
      pointer-events: none;
      padding-inline: .1rem;
      display: inline-block;
      cursor: pointer;
      transition: all .2s ease-in;

      &:hover {
        color: $colorWhite;
        border-bottom-color: currentColor;
      }
    }
  }

  &__title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: $colorWhite;
    font-weight: 800;
    text-shadow: .4rem .1rem $colorGreen;
  }

  // slider-animation

  &.next {
    & .slider__item {
      &:nth-child(1) { animation: positionItem2 .5s ease-in-out 1 forwards; }
      &:nth-child(2) { animation: positionItem3 .7s ease-in-out 1 forwards; }
      &:nth-child(3) { animation: positionItem4 .9s ease-in-out 1 forwards; }
      &:nth-child(4) { animation: positionItem5 1.1s ease-in-out 1 forwards; }
    }
  }

  &.prev {
    & .slider__item {
      &:nth-child(2) { animation: positionItem1 .7s ease-in-out 1 forwards; }
      &:nth-child(3) { animation: positionItem2 .9s ease-in-out 1 forwards; }
      &:nth-child(4) { animation: positionItem3 1.1s ease-in-out 1 forwards; }
      &:nth-child(5) { animation: positionItem4 1.1s ease-in-out 1 forwards; }
    }
  }

  // deatil animation
  &.show-detail {
    &::before {
      transform: translate(-100%, -50%) rotate(70deg);
    }
    & .slider__item {
      &:nth-child(3),
      &:nth-child(4) { 
        left: 100%;
        opacity: 0;
        pointer-events: none;
      }

      &:nth-child(2) {
        width: 100%;

        & .slider__intro {
          opacity: 0;
          pointer-events: none;
        }

        & .slider__image-item {
          right: 40%;
          inline-size: 65%;
        }

        & .slider__detail {
          opacity: 1;
          pointer-events: auto;
          width: 40%;
          position: absolute;
          right: 0;
          text-align: right;
          top: 50%;
          transform: translateY(-50%);

          & .slider__name,
          & .slider__about,
          & .slider__go {
            opacity: 0;
            animation: showContent .5s .5s ease-in-out 1 forwards;
          }

          & .slider__about {
            animation-delay: .7s;
          }

          & .slider__go {
            animation-delay: .9s;
          }
        }
      }
    }

    & .slider__arrows-prev,
    & .slider__arrows-next {
      opacity: 0;
      pointer-events: none;
    }

    & .slider__arrows-back {
      opacity: 1;
      pointer-events: auto;
    }
  }
}