  <!-- SECTION ABOUT -->
  <section id="about" class="about">
    <div class="container">
      <div class="about__box title-box">
        <span class="title-background">About</span>
        <h2 class="title">About</h2>
      </div>
      <div class="about__wrapper">
        <div class="about__image">
          <img src="images/my-photo.webp" alt="Man's photo on city panorama">
          <div class="about__overlay"></div>
        </div>
        <div class="about__content">
          <div class="about__text">
            <p>
              I am a skilled and detail-oriented Frontend Developer with 3 years of experience in building responsive, user-focused web applications. Proficient in HTML5, CSS3, JavaScript (ES6+), and modern framework - React. I specialize in transforming UI/UX designs into interactive, scalable, and maintainable interfaces. My expertise extends to creating mobile-first, cross-browser compatible websites that deliver seamless experiences across devices.
            </p>
            <p>
              I have a deep understanding of JavaScript and its modern features, and I excel in crafting dynamic single-page applications (SPAs) using React, where I leverage hooks and component-based architecture for state management and efficient rendering. My proficiency in CSS (including Grid, Flexbox, and preprocessors like Sass/SCSS) allows me to develop visually appealing, responsive layouts.
            </p>
            <p>
              Collaboration is key to my success — I work closely with designers and backend developers to ensure projects meet high-quality standards. I am adept at integrating with RESTful APIs and optimizing performance by employing techniques such as lazy loading, code splitting, and asset optimization to reduce load times.
            </p>
            <p>
              Additionally, I prioritize testing and code quality by utilizing tools like Jest, Cypress, and Mocha, ensuring reliable, bug-free applications. Familiar with Git methodology, I contribute effectively to team-based projects, ensuring smooth collaboration and timely delivery.
            </p>
            <p>
              Passionate about staying up-to-date with industry trends, I continually seek to improve my skills and deliver modern, innovative solutions that enhance user experiences.
            </p>
          </div>
          <a href="#" class="button">Download CV</a>
        </div>
      </div>
    </div>
  </section>