<!-- SECTION CONTACTS -->
<section id="contacts" class="contacts">
  <div class="container">
    <div class="contacts__box title-box">
      <span class="title-background">Contacts</span>
      <h2 class="title">Contacts</h2>
    </div>
    <div class="contacts__wrapper">
      <a href="tel:3059341694">+1 (305) 934 16 94</a>
      <a href="mailto:kleimovychserhii@gmail.com">kleimovychserhii@gmail.com</a>
      <div class="contacts__social">
        <a href="https://www.facebook.com/serhii.kleimovych.9" class="social__item facebook" target="_blank"><img src="images/facebook.svg" alt="Facebook"></a>
        <a href="https://www.instagram.com/kleimovichsergei/" class="social__item instagram" target="_blank"><img src="images/instagram.svg" alt="Instagram"></a>
        <a href="linkedin.com/in/serhii-kleimovych-7663a3324" class="social__item linkedin" target="_blank"><img src="images/linkedin.svg" alt="LinkedIn"></a>
        <a href="https://github.com/serhiikle" class="social__item github" target="_blank"><img src="images/github.svg" alt="GitHub"></a>
        <a href="https://t.me/kleimovychserhii" class="social__item telegram" target="_blank"><img src="images/telegram.svg" alt="Telegram"></a>
        <a href="https://wa.me/13059341694" class="social__item whatsapp" target="_blank"><img src="images/whatsapp.svg" alt="Whatsapp"></a>
      </div>
    </div>
  </div>
</section>