  <!-- SECTION EXPERIENCE -->
  <section id="experience" class="experience">
    <div class="container">
      <div class="experience__box title-box">
        <span class="title-background">Experience</span>
        <h2 class="title">Experience</h2>
      </div>
      <div class="experience__items">
        <!-- item 1 -->
        <div class="experience__item">
          <div class="experience__description">
            <div class="experience__description-wrapper">
              <h3 class="experience__description-position">Frontend Developer</h3>
              <h4 class="experience__description-company">Freelance</h4> 
              <h5 class="experience__description-location">USA, Chicago</h5>
              <p class="experience__description-period">09.2022 / 06.2024</p>
              <ul class="experience__description-list">
                <li>Developed and maintained responsive web applications using HTML, CSS, and JavaScript</li>
                <li>Implemented cross-browser compatibility solutions, resulting in a reduction in user-reported issues across major browsers</li>
                <li>Optimized application performance through code splitting, lazy loading, and asset minification, improving load time</li>
                <li>Integrated RESTful APIs and third-party services, facilitating seamless data interaction and improving application functionality</li>
                <li>Code refactoring, fixed bugs</li>
              </ul>
            </div>
          </div>
          <div class="experience__year">2022</div>
        </div>
        <!-- item 2 -->
        <div class="experience__item">
          <div class="experience__description">
            <div class="experience__description-wrapper">
              <h3 class="experience__description-position">Frontend Developer</h3>
              <h4 class="experience__description-company">KSV Sp z o o</h4> 
              <h5 class="experience__description-location">Poland, Warsaw</h5>
              <p class="experience__description-period">11.2019 / 03.2022</p>
              <ul class="experience__description-list">
                <li>Developed and maintained responsive web applications using HTML, CSS, and JavaScript, enhancing user experience</li>
                <li>Collaborated with UI/UX designers to translate wireframes and prototypes into high-quality code, ensuring pixel-perfect implementations</li>
                <li>Implemented cross-browser compatibility solutions, resulting in a reduction in user-reported issues across major browsers</li>
                <li>Optimized application performance through code splitting, lazy loading, and asset minification, improving load time</li>
                <li>Integrated RESTful APIs and third-party services, facilitating seamless data interaction and improving application functionality</li>
                <li>Utilized version control systems (Git) to manage codebase and collaborate effectively with team members</li>
              </ul>
            </div>
          </div>
          <div class="experience__year">2019</div>
        </div>
        <!-- item 3 -->
        <div class="experience__item">
          <div class="experience__description">
            <div class="experience__description-wrapper">
              <h3 class="experience__description-position">Junior Frontend Developer</h3>
              <h4 class="experience__description-company">ELDER</h4> 
              <h5 class="experience__description-location">Poland, Warsaw</h5>
              <p class="experience__description-period">02.2017 / 11.2019</p>
              <ul class="experience__description-list">
                <li>Assisted in the development of a dynamic web pages</li>
                <li>Developed reusable components using HTML, CSS, and JavaScript</li>
                <li>Ensured the technical feasibility of UI/UX designs and collaborated with backend developers to implement features</li>
              </ul>
            </div>
          </div>
          <div class="experience__year">2017</div>
        </div>
        <!-- item 4 -->
        <div class="experience__item">
          <div class="experience__description">
            <div class="experience__description-wrapper">
              <h3 class="experience__description-position">Junior Frontend Developer</h3>
              <h4 class="experience__description-company">ORSR</h4> 
              <h5 class="experience__description-location">Ukraine, Odessa</h5>
              <p class="experience__description-period">07.2014 / 06.2015</p>
              <ul class="experience__description-list">
                <li>Assisted in the development of a dynamic web pages</li>
                <li>Developed reusable components using HTML and CSS</li>
              </ul>
            </div>
          </div>
          <div class="experience__year">2014</div>
        </div>
      </div>
    </div>
  </section>