  <!-- SECTION SKILLS -->
  <section id="skills" class="skills">
    <div class="container">
      <div class="skills__box title-box">
        <span class="title-background">Skills</span>
        <h2 class="title">Skills</h2>
      </div>

      <h3 class="secondary__title">Technologies</h3>
      <div class="skills__items">
        <!-- item 1 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/html.svg" alt="HTML5 logo">
          <figcaption class="skills__item-name">HTML5</figcaption>
        </figure>
        <!-- item 2 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/css.svg" alt="CSS3 logo">
          <figcaption class="skills__item-name">CSS3</figcaption>
        </figure>
        <!-- item 3 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/javascript.svg" alt="JavaScript logo">
          <figcaption class="skills__item-name">JavaScript</figcaption>
        </figure>
        <!-- item 4 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/react.svg" alt="React logo">
          <figcaption class="skills__item-name">React</figcaption>
        </figure>
        <!-- item 5 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/scss.svg" alt="Sass/SCSS logo">
          <figcaption class="skills__item-name">Sass/SCSS</figcaption>
        </figure>
        <!-- item 6 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/responsive.svg" alt="Responsive design logo">
          <figcaption class="skills__item-name">Responsive design</figcaption>
        </figure>
        <!-- item 7 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/devtools.svg" alt="Google Chrome Developer Tools logo">
          <figcaption class="skills__item-name">DevTools</figcaption>
        </figure>
        <!-- item 8 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/gulp.svg" alt="Gulp logo">
          <figcaption class="skills__item-name">Gulp</figcaption>
        </figure>
        <!-- item 9 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/npm.svg" alt="NPM logo">
          <figcaption class="skills__item-name">NPM</figcaption>
        </figure>
        <!-- item 10 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/github.svg" alt="GitHub logo">
          <figcaption class="skills__item-name">GitHub</figcaption>
        </figure>
        <!-- item 11 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/figma.svg" alt="Figma logo">
          <figcaption class="skills__item-name">Figma</figcaption>
        </figure>
        <!-- item 12 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/photoshop.svg" alt="Photoshop logo">
          <figcaption class="skills__item-name">Photoshop</figcaption>
        </figure>
        <!-- item 13 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/visual.svg" alt="Visual Studio Code logo">
          <figcaption class="skills__item-name">Visual Studio Code</figcaption>
        </figure>
        <!-- item 14 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/webstorm.svg" alt="WebStorm logo">
          <figcaption class="skills__item-name">WebStorm</figcaption>
        </figure>
        <!-- item 15 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/macos.svg" alt="MacOS logo">
          <figcaption class="skills__item-name">MacOS</figcaption>
        </figure>
        <!-- item 16 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/windows.svg" alt="Windows logo">
          <figcaption class="skills__item-name">Windows</figcaption>
        </figure>
      </div>

      <h3 class="secondary__title">Languages</h3>
      <div class="skills__items languages">
        <!-- item 1 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/united-states.svg" alt="United States of America Flag">
          <figcaption class="skills__item-name">English</figcaption>
        </figure>
        <!-- item 2 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/ukraine.svg" alt="Ukrain's Flag">
          <figcaption class="skills__item-name">Ukrainian</figcaption>
        </figure>
        <!-- item 3 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/poland.svg" alt="Poland's Flag">
          <figcaption class="skills__item-name">Polish</figcaption>
        </figure>
        <!-- item 4 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/russia.svg" alt="Russian's Flag">
          <figcaption class="skills__item-name">Russian</figcaption>
        </figure>
      </div>

      <h3 class="secondary__title">Personal skills</h3>
      <div class="skills__items">
        <!-- item 1 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/solving.svg" alt="Problem-Solving icon">
          <figcaption class="skills__item-name">Problem-Solving</figcaption>
        </figure>
        <!-- item 2 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/creative.svg" alt="Creativity icon">
          <figcaption class="skills__item-name">Creativity</figcaption>
        </figure>
        <!-- item 3 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/communication.svg" alt="Communication icon">
          <figcaption class="skills__item-name">Communication</figcaption>
        </figure>
        <!-- item 4 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/collaboration.svg" alt="Collaboration icon">
          <figcaption class="skills__item-name">Collaboration</figcaption>
        </figure>
        <!-- item 5 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/analytical.svg" alt="Analytical Thinking icon">
          <figcaption class="skills__item-name">Analytical Thinking</figcaption>
        </figure>
        <!-- item 6 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/learning.svg" alt="Continuous Learning icon">
          <figcaption class="skills__item-name">Continuous Learning</figcaption>
        </figure>
        <!-- item 7 -->
        <figure class="skills__item">
          <img class="skills__item-image" src="images/adaptive.svg" alt="Adaptability icon">
          <figcaption class="skills__item-name">Adaptability</figcaption>
        </figure>
      </div>
    </div>
  </section>