  <!-- SECTION WORKS -->
  <section id="works" class="works">
    <div class="container">
      <div class="works__box title-box">
        <span class="title-background">Works</span>
        <h2 class="title">Works</h2>
      </div>
      <div class="wrapper">
        <!-- start slider -->
        <div class="works__slider slider">
          <div class="slider__items">
            <!-- item 1 -->
            <div class="slider__item">
              <div class="slider__image">
                <div style="background-color: tomato;" class="slider__image-item">1</div>
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Item 1</h3>
                <p class="slider__topic">Category 1</p>
                <p class="slider__description">Description 1</p>
                <button class="slider__open">Button 1</button>
              </div>
              <div class="slider__detail">
                <h3 class="slider__name">Title 1</h3>
                <p class="slider__about">Descr 1</p>
                <p class="slider__specification">Specification 1</p>
              </div>
            </div>
            <!-- item 2 -->
            <div class="slider__item">
              <div class="slider__image">
                <div style="background-color: teal;" class="slider__image-item">2</div>
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Item 2</h3>
                <p class="slider__topic">Category 2</p>
                <p class="slider__description">Description 2</p>
                <button class="slider__open">Button 2</button>
              </div>
              <div class="slider__detail">
                <h3 class="slider__name">Title 2</h3>
                <p class="slider__about">Descr 2</p>
                <p class="slider__specification">Specification 2</p>
              </div>
            </div>
            <!-- item 3 -->
            <div class="slider__item">
              <div class="slider__image">
                <div style="background-color: olivedrab;" class="slider__image-item">3</div>
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Item 3</h3>
                <p class="slider__topic">Category 3</p>
                <p class="slider__description">Description 3</p>
                <button class="slider__open">Button 3</button>
              </div>
              <div class="slider__detail">
                <h3 class="slider__name">Title 3</h3>
                <p class="slider__about">Descr 3</p>
                <p class="slider__specification">Specification 3</p>
              </div>
            </div>
            <!-- item 4 -->
            <div class="slider__item">
              <div class="slider__image">
                <div style="background-color: aqua;" class="slider__image-item">4</div>
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Item 4</h3>
                <p class="slider__topic">Category 4</p>
                <p class="slider__description">Description 4</p>
                <button class="slider__open">Button 4</button>
              </div>
              <div class="slider__detail">
                <h3 class="slider__name">Title 4</h3>
                <p class="slider__about">Descr 4</p>
                <p class="slider__specification">Specification 4</p>
              </div>
            </div>
            <!-- item 5 -->
            <div class="slider__item">
              <div class="slider__image">
                <div style="background-color: slateblue;" class="slider__image-item">5</div>
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Item 5</h3>
                <p class="slider__topic">Category 5</p>
                <p class="slider__description">Description 5</p>
                <button class="slider__open">Button 5</button>
              </div>
              <div class="slider__detail">
                <h3 class="slider__name">Title 5</h3>
                <p class="slider__about">Descr 5</p>
                <p class="slider__specification">Specification 5</p>
              </div>
            </div>
          </div>
          <div class="slider__arrows">
            <button class="slider__arrows-prev">&larr;</button>
            <button class="slider__arrows-back">Back</button>
            <button class="slider__arrows-next">&rarr;</button>
          </div>
        </div>
        <!-- end slider -->
      </div>
      <!-- <div class="works__wrapper">
        <div class="works__slider" style="--quantity: 10">
          <div style="--position: 1" class="works__item"></div>
          <div style="--position: 2" class="works__item"></div>
          <div style="--position: 3" class="works__item"></div>
          <div style="--position: 4" class="works__item"></div>
          <div style="--position: 5" class="works__item"></div>
          <div style="--position: 6" class="works__item"></div>
          <div style="--position: 7" class="works__item"></div>
          <div style="--position: 8" class="works__item"></div>
          <div style="--position: 9" class="works__item"></div>
          <div style="--position: 10" class="works__item"></div>
        </div>
      </div> -->
    </div>
  </section>