  <!-- SECTION WORKS -->
  <section id="works" class="works">
    <div class="container">
      <div class="works__box title-box">
        <span class="title-background">Works</span>
        <h2 class="title">Works</h2>
      </div>
      <div class="wrapper">
        <!-- start slider -->
        <div class="works__slider slider">
          <div class="slider__items">
            <!-- item 1 -->
            <div class="slider__item">
              <div class="slider__image">
                <img class="slider__image-item" src="images/omnifood.webp" alt="Omnifood">
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Omnifood</h3>
                <button class="btn slider__open">See more</button>
              </div>
              <div class="slider__detail">
                <h2 class="slider__name">Onmifood</h2>
                <p class="slider__about">
                  Simple landing about food devivery company. Build from scratch using only HTML and CSS with adding little JavaScript
                </p>
                <a class="slider__go button button--open" href="works/omnifood/index.html" target="_blank">Open</a>
              </div>
            </div>
            <!-- item 2 -->
            <div class="slider__item">
              <div class="slider__image">
                <img class="slider__image-item" src="images/gosurf.webp" alt="GoSurf">
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">GoSurf</h3>
                <button class="btn slider__open">See more</button>
              </div>
              <div class="slider__detail">
                <h2 class="slider__name">GoSurf</h2>
                <p class="slider__about">
                  Modern landing about surfing company with beautiful animations and transitions. Build using HTML, CSS and pure JavaScript without using any third-part libraries.
                </p>
                <a class="slider__go button button--open" href="works/gosurf/index.html" target="_blank">Open</a>
              </div>
            </div>
            <!-- item 3 -->
            <div class="slider__item">
              <div class="slider__image">
                <img class="slider__image-item" src="images/debonaire.webp" alt="Debonaire">
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Debonaire</h3>
                <button class="btn slider__open">See more</button>
              </div>
              <div class="slider__detail">
                <h2 class="slider__name">Debonaire</h2>
                <p class="slider__about">
                  Modern landing page about hair-stylish salon with beautiful animations, transitions and parallax. Build using HTML, CSS and JavaScript.
                </p>
                <a class="slider__go button button--open" href="works/debonaire/index.html" target="_blank">Open</a>
              </div>
            </div>
            <!-- item 4 -->
            <div class="slider__item">
              <div class="slider__image">
                <img class="slider__image-item" src="images/candle.webp" alt="Candle">
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Candle</h3>
                <button class="btn slider__open">See more</button>
              </div>
              <div class="slider__detail">
                <h2 class="slider__name">Candle</h2>
                <p class="slider__about">
                  Modern landing page about candle company. Build using HTML, CSS and JavaScript. 
                </p>
                <a class="slider__go button button--open" href="works/candle/index.html" target="_blank">Open</a>
              </div>
            </div>
            <!-- item 5 -->
            <div class="slider__item">
              <div class="slider__image">
                <img class="slider__image-item" src="images/natours.webp" alt="Natours">
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">Natours</h3>
                <button class="btn slider__open">See more</button>
              </div>
              <div class="slider__detail">
                <h2 class="slider__name">Natours</h2>
                <p class="slider__about">
                  Beautiful single page website about tours. Build from scratch using HTML, CSS and little JavaScript.
                </p>
                <a class="slider__go button button--open" href="works/natours/index.html" target="_blank">Open</a>
              </div>
            </div>
            <!-- item 6 -->
            <div class="slider__item">
              <div class="slider__image">
                <img class="slider__image-item" src="images/agency.webp" alt="Agency">
              </div>
              <div class="slider__intro">
                <h3 class="slider__title">WebAI</h3>
                <button class="btn slider__open">See more</button>
              </div>
              <div class="slider__detail">
                <h2 class="slider__name">WebAI</h2>
                <p class="slider__about">
                  Beautiful Web Design studio multipage website. Build from scratch using HTML, CSS and pure JavaScript without any third-part libraries. In developing now. Avaliable soon...
                </p>
                <a class="slider__go button button--open" href="#" target="_blank" style="pointer-events: none;">Open</a>
              </div>
            </div>
          </div>
          <div class="slider__arrows">
            <button class="slider__arrows-prev"><img src="images/arrow-left.svg" alt="Prev slider"></button>
            <button class="slider__arrows-back">Go back</button>
            <button class="slider__arrows-next"><img src="images/arrow-right.svg" alt="Next slider"></button>
          </div>
        </div>
        <!-- end slider -->
      </div>
    </div>
  </section>